<h1>Crear llamada</h1>
<%= form_for :call, url: calls_path do |f| %>

    <p>
      <%= f.label :desde %><br>
      <%= f.collection_select(:origin, Location.all, :pais_coma_ciudad, :pais_coma_ciudad , prompt: true) %><br>
    </p>

    <p>
      <%= f.label :hasta %><br>
      <%= f.collection_select(:destiny, Location.all, :pais_coma_ciudad, :pais_coma_ciudad , prompt: true) %><br>
    </p>

    <p>
      <%= f.label :realizada %><br>
      <%= f.datetime_select :when %><br>
    </p>

    <p>
      <%= f.label :de_duracion %><br>
      <%= f.number_field :last %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>