<h1>Crear llamada</h1>
<%= form_for :call, url: calls_path do |f| %>

    <p>
      <%= f.label :origin %><br>
      <%= f.collection_select(:origin_id, LocationExpert.all_possible_locations, :id, :pais_coma_ciudad) %><br>
    </p>

    <p>
      <%= f.label :destination %><br>
      <%= f.collection_select(:destination_id, LocationExpert.all_possible_locations, :id, :pais_coma_ciudad) %><br>
    </p>

    <p>
      <%= f.label :when_was, 'Realizada el dia' %><br>
      <%= f.datetime_select :when_was %><br>
    </p>

    <p>
      <%= f.label :last, 'De duracion' %><br>
      <%= f.number_field :last %><br>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>