<h1>Crear ubicacion</h1>
<%= form_for :location, url: locations_path do |f| %>
    <p>
      <%= f.label :pais %><br>
      <%= f.collection_select(:pais, ISO3166::Country.find_all_countries_by_region('Americas'), :name, :name) %><br>
    </p>

    <p>
      <%= f.label :ciudad %><br>
      <%= f.text_field :ciudad %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>