<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags%>

  <!-- Custom styles for this template -->
  <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">
</head>
<body>

<div id="main-container" class="container">
  <div class="row">
      <div id="sidebar" class="col-xs-3">
        <%= render 'layouts/side_navbar' %>
      </div>
      <div id="sidebar" class="col-xs-9">
          <%= yield %>
        <div class="mastfoot">
          <div class="inner">
            <p><a href="#">Actualizar</a></p>
          </div>
        </div>
      </div>
  </div>
</div>

</body>
</html>
